body {
	background-color: #5E357A;
	font-family: "Trebuchet MS";
	color: white;
}

a {
	color: white;
}

/* HREF DECORATION */

.no-decoration a:link {
	text-decoration: none;
}
.no-decoration a:visited {
    text-decoration: none;
}
.no-decoration a:hover {
    text-decoration: none;
}

/* HOME PAGE */

.home-page-div {
	text-align: center;
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
	height: 80%;
}

img.home-page-title {
	min-height: 40px;
	max-height: 150px;
}

/* SHARED ATTRIBUTES */

.column-background {
	width: 90%;
	min-width: 200px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: #764299;
	padding-bottom: 20px;
	padding-top: 20px;
	box-shadow: 0px 0px 2px #000000;
	min-height:100%;
}

/* SITE HEADER */

.site-header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10pt;
	margin-bottom: 20pt;
	height: inherit;
}

/* PAGE HEADER */

.my-page-header {
	background-color: #4C1D6A;
	width: 100%;
	height: inherit;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 0px;
	vertical-align: middle;
}

img.page-title {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 40px;
	max-height: 70px;
}

.my-image-title {
	height: inherit;
	display: inline-block;
	float: left;
	padding-left: 60px;
	vertical-align: middle;
}

.my-search-title {
	height: inherit;
	display: inline-block;
	float: right;
	padding-right: 60px;
	padding-top: 15px;
	vertical-align: middle;
}

table.my-header-table {
	width:100%;
	margin-bottom: -10px;
	margin-top: -20px;
}

/* NAVBAR */

.index-navbar {
	font-size: 16px;
	margin-bottom: -15px;
	width: 90%;
	min-width: 200px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.navbar-list {
	-webkit-padding-start: 0px;
}

.my-navbar-header {
	background-color: #4C1D6A;
	border: none;
	margin-bottom: 0px;
}

.nav>li>a:hover,
.nav>li>a:active,
.nav>li>a:visited,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #5E357A;
    color: white;
}

.my-navbar-list {
	font-size: 12px;
}

.nav-pills {
	width: 90%;
}

.nav-pills>li {
	font-size: 12px;
}

li.my-thin-nav-pills {
	width:30px;
}

.vertical-align-center {
	display: inline-block;
	vertical-align: middle;
  /*position: relative;
  top: 50%;
  transform: translateY(-50%);*/
}


/* ADD A WORD */

.addaword-form {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 100px;
}

.addaword-title {
	color: #DBBC37;
	font-size: 36px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.addaword-status {
	color: #DBBC37;
	font-size: 36px;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

.addaword-btn-submit {
	padding-left: 60px;
	padding-right: 60px;
	font-size: 16px;
}

/* SEARCH */

.my-search-box {
	height: 40px;
	font-size: 24px;
	max-width: 100%;
}

.form-inline .form-group input {
	width:400px;
}

/* SEARCH RESULT */

.search-results {
	font-size: 16px;
	padding-top: 20px;
}

/* RESULTS */

.result-title {
	/*color: #DBBC37;*/
	font-size: 36px;
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: center;
}

.no-result-div {
	text-align: center;
	font-size: 24px;
}

/* STREAM */

.stream-div {
	
}

.stream-orderby {
	padding-top: 20px;
	font-size: 18px;
}

/* BUTTON */

button.btn-color-yellow {
	background-color: #F4D23E;
	border: none;
}

button.btn-color-yellow:hover {
	background-color: #DBBC37;
}

button.btn-color-yellow:active {
	background-color: #C2962B;
}

button.btn-color-yellow:visited {
	background-color: #C2962B;
}

button.btn-color-yellow:focus {
	background-color: #C2962B;
}

.btn {
	height: 40px;
	font-size: 20px;
}