body {
	background-color: #4C1D6A;
	font-family: "Trebuchet MS";
	color: white;
}

a {
	color: white;
}

/* HEADER */

.site-header {
	margin-left: 40%;
	margin-right: auto;
	width: 30%;
}

.site-header a:link {
    text-decoration: none;
}
.site-header a:visited {
    text-decoration: none;
}
.site-header a:hover {
    text-decoration: none;
}

/* ADD A WORD */

.addaword-form {
	width: 60%;
	margin-left: 20%;
	margin-right: auto;
}

/* SEARCH BOX */

.search-box {
	margin-left: 30%;
	margin-right: auto;
	width:100px;
	height: 40px;
	font-size: 24px;
}

.search-button {
	background-color: #F3CE00;
	width: 100px;
	height: 40px;
}